node_modules/
db/database.db
db/*.db
db/*.sqlite
db/*.sqlite3
logs/
logs/*.log
temp/
debug/
autosecure/utils/db/image/
autosecure/utils/logout/.internal/
.env
.env.*
*.log
timelog.txt
guide.txt
test_notification.js
*.bak
mainbot/Buttons/config/config/config.json
